{% extends 'base.html.twig' %}

{% block body %}
{# todo : Affiche les détails du cours#}
{% endblock %}

{% block title %}
{# todo : titre du cours à afficher #}
    <h1> détails du cours</h1>
{% endblock %}

